* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: rgb(247, 239, 244);
    font-family: sans-serif;
    padding: 30px;
}

.container {
    max-width: 1140px;
    margin: 0 auto;
}

.row {
    display: flex;
    flex-wrap: wrap;
}

.col {
    flex-basis: 0;
    -webkit-box-flex: 1;
    flex-grow: 1;
    max-width: 100%;
}

.ingredients-component {
    padding: 10px;
    max-width: 300px;
}

.burger-component {
    margin: 0 auto;
}

.toppings-component {
    padding: 10px;
    max-width: 300px;
}

.mx-auto {
    margin: 0 auto;
}

.flex-x {
    display: flex;
    justify-content: center;
}

.flex-y {
    display: flex;
    align-items: center;
}
