* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
    padding: 30px;
}

.container {
    max-width: 1140px;
    margin: 0 auto;
}

.row {
    display: flex;
    flex-wrap: wrap;
}

.col {
    flex-basis: 0;
    -webkit-box-flex: 1;
    flex-grow: 1;
    max-width: 100%;
}

.ingredients-component {
    background-color: #5e3ce5;
    padding: 10px;
    overflow: auto;
    max-width: 300px;
    height: 90vh;
}

.menu-right {
    margin-left: 60px;
    padding: 30px;
    background-color: #5e3ce5;
    height: 90vh;
}

.burger-component {
    margin: 0 auto;
}

.toppings-component {
    margin: 0 auto;
}

.mx-auto {
    margin: 0 auto;
}
