:root {
    font-size: 16px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: rgb(247, 239, 244);
    font-family: sans-serif;
    padding: 2rem;
}

.container {
    max-width: 1140px;
    margin-left: auto;
    margin-right: auto;
}

.h-50 {
    height: 50vh;
}

.row {
    display: flex;
    flex-wrap: wrap;
}

.col {
    flex-basis: 0;
    flex-grow: 1;
    max-width: 100%;
}

.ingredients-component {
    padding: 10px;
    max-width: 300px;
}

.burger-component {
    margin: 0 auto;
}

.toppings-component {
    padding: 10px;
    max-width: 300px;
}

.mx-auto {
    margin: 0 auto;
}

.flex-x {
    display: flex;
    justify-content: center;
}

.flex-y {
    display: flex;
    align-items: center;
}

.space-between {
    justify-content: space-between;
}

.overflow-auto {
    overflow: auto;
}
